// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@mini-editor-width: 400px;
@td-right-width: 160px;
@ol-width: @mini-editor-width + @td-right-width + 20px;
@panel-width: @ol-width + 20px;

atom-panel.replacing-pattern-collection {
  width: @panel-width;
  background-color: @overlay-background-color;
}

div.replacing-pattern-collection.root {
}

ol.replacing-pattern-collection {
  background-color: @overlay-background-color;
  height: 280px;
  width: @ol-width;
  overflow: auto;
}

li.replacing-pattern-collection {
  atom-text-editor.mini {
    width: @mini-editor-width;
  }
  span.discription {
    color: @text-color-subtle;
    atom-text-editor.mini {
      width: @mini-editor-width;
      background-color: darken(@input-background-color, 25%);
    }
  }
  td.replacing-pattern-collection {
    border: solid 1px;
    .right {
      width: @td-right-width;
    }
  }
  svg.replacing-pattern-collection {
    width: 12px;
    height: 12px;
  }
}
