// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

div.replacing-pattern-collection.root {
  height: 300px;
}
ol.replacing-pattern-collection {
  height: 270px;
  overflow: auto;
}

li.replacing-pattern-collection {
  atom-text-editor.mini {
    width: 400px;
  }
  td.replacing-pattern-collection {
    border: solid 1px;
    .right {
      width: 150px;
    }
  }
  svg.replacing-pattern-collection {
    width: 12px;
    height: 12px;
  }
}
